@model List<BookViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head kısmındaki meta, title ve CSS kodları buraya eklenebilir -->
</head>
<body>
    <div class="search-box">
        <input type="text" id="search-input" placeholder="Ara">
        <button type="button" onclick="searchBooks()">Ara</button>

        <div class="search-results">
            @foreach (var book in Model)
            {
                <div class="card mb-3">
                    <img src="@book.ThumbnailUrl" class="card-img-top" alt="Book Cover">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">Authors: @string.Join(", ", book.Authors)</p>
                        <p class="card-text">@book.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Bootstrap JS ve Popper.js CDN (Bu satırı </body> etiketinden önce ekleyin) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function searchBooks() {
            var searchTerm = document.getElementById("search-input").value;
            window.location.href = "/Book/Index?query=" + searchTerm;
        }
    </script>
</body>
</html>
